<h2><%=@search_results%></h2>

<div id="search-form-container">
	<%= form_tag do %>
		Choose your song: <input type="text" name="song-query">
		<input type="submit" value="Find Songs!">
	<% end %>
</div>