<!DOCTYPE html>
<html>
<head>
  <title>HipHopHacksMapsPack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <h2><a href="/">Hip Hop Mapper</a> > <span id="no-bold-header">See a map of all the locations mentioned in your favorite hip hop songs.</span></h2>
  </nav>

	<div id="layout-container">

    <%= yield %>

	</div>
</body>
</html>
