<!DOCTYPE html>
<html>
<head>
  <title>HipHopHacksMapsPack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li>
        <h2><a href="/">Hip Hop Mapper</a></h2>
      </li>
      <li>
        <p>See a map of all the locations mentioned in your favorite hip hop songs.</p>
      </li>
    </ul>
  </nav>

	<div id="layout-container">

    <%= yield %>

	</div>
</body>
</html>
